In [10]:
import pandas as pd 
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [11]:
path = '/Users/aadithyaviswanathr/.cache/kagglehub/datasets/parasharmanas/movie-recommendation-system/versions/1'
df = pd.read_csv(path + "/combined.csv")
movies = pd.read_csv(path+ "/movies.csv")

In [12]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [13]:
df.head()

,userId,movieId,rating,title,genres,year_of_release,category
0,1,296,5.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994,Millenial
1,1,306,3.5,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama,1994,Millenial
2,1,307,5.0,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,1993,Millenial
3,1,665,5.0,Underground (1995),Comedy|Drama|War,1995,Millenial
4,1,899,3.5,Singin' in the Rain (1952),Comedy|Musical|Romance,1952,Classic

In [14]:
import re

def clean_title(title):
    return re.sub("[^a-zA-Z0-9 ]", "", title)

df['cleaned_title'] = df['title'].apply(lambda x: clean_title(x))
df['genres_list'] = df['genres'].str.replace('|', ' ')

In [15]:
df.head()

,userId,movieId,rating,title,genres,year_of_release,category,cleaned_title,genres_list
0,1,296,5.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994,Millenial,Pulp Fiction 1994,Comedy Crime Drama Thriller
1,1,306,3.5,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama,1994,Millenial,Three Colors Red Trois couleurs Rouge 1994,Drama
2,1,307,5.0,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,1993,Millenial,Three Colors Blue Trois couleurs Bleu 1993,Drama
3,1,665,5.0,Underground (1995),Comedy|Drama|War,1995,Millenial,Underground 1995,Comedy Drama War
4,1,899,3.5,Singin' in the Rain (1952),Comedy|Musical|Romance,1952,Classic,Singin in the Rain 1952,Comedy Musical Romance

In [18]:
movies['genres_list'] = movies['genres'].str.replace("|", " ")

In [19]:
vectorizer_genres = TfidfVectorizer(ngram_range=(1,2))

tfidf_genres = vectorizer_genres.fit_transform(movies['genres_list'])

def search_similar_genres(genres):
    query_vec = vectorizer_genres.transform([genres])
    similarity = cosine_similarity(query_vec, tfidf_genres).flatten()
    indices = np.argpartition(similarity, -10)[-10:]
    results = movies.iloc[indices][::-1]
    return results

gen = 'Drama'
print(search_similar_genres(gen))

       movieId                               title genres genres_list
17152    90108                   Songwriter (1984)  Drama       Drama
11014    47571  Heading South (Vers le sud) (2005)  Drama       Drama
23258   117547                  She Monkeys (2011)  Drama       Drama
11020    47626                  San Quentin (1937)  Drama       Drama
11021    47629                    The Queen (2006)  Drama       Drama
23243   117517             Listen Up Philip (2014)  Drama       Drama
55834   192837         One Million Yen Girl (2008)  Drama       Drama
23260   117551                   Admissions (2004)  Drama       Drama
23214   117458                Misunderstood (1984)  Drama       Drama
23226   117482               Merry-Go-Round (1923)  Drama       Drama

In [20]:
gen = "Action Comedy"
print(search_similar_genres(gen))

       movieId                                              title  \
42247   163456                              Tees Maar Khan (2010)
4570      4675                             Three Fugitives (1989)
29604   134282                               Jaguar Lives! (1979)
51470   183225           Ron Goossens, Low Budget Stuntman (2017)
27065   128223                                Roadhouse 66 (1985)
4596      4701                                 Rush Hour 2 (2001)
6437      6560                               Loose Cannons (1990)
11808    54986  Watch Out, We're Mad (...Altrimenti ci arrabbi...
9122     27193                                      Taxi 2 (2000)
59404   200788                                  Αιγαίο SOS (2018)

              genres    genres_list
42247  Action|Comedy  Action Comedy
4570   Action|Comedy  Action Comedy
29604  Action|Comedy  Action Comedy
51470  Action|Comedy  Action Comedy
27065  Action|Comedy  Action Comedy
4596   Action|Comedy  Action Comedy
6437   Action|Comedy  Action Comedy
11808  Action|Comedy  Action Comedy
9122   Action|Comedy  Action Comedy
59404  Action|Comedy  Action Comedy

In [21]:
gen = "Thriller"
print(search_similar_genres(gen))

       movieId                            title    genres genres_list
32966   142110                  Man Down (2015)  Thriller    Thriller
36979   151627       All Mistakes Buried (2015)  Thriller    Thriller
31406   138534              Daddy's Girl (1996)  Thriller    Thriller
29760   134649           Bad Hair Friday (2012)  Thriller    Thriller
45511   170537   Vengeance: A Love Story (2017)  Thriller    Thriller
51752   183825          American Romance (2016)  Thriller    Thriller
29767   134664  Enter the Dangerous Mind (2013)  Thriller    Thriller
31413   138550          Suspicious Minds (1997)  Thriller    Thriller
18314    95896        388 Arletta Avenue (2011)  Thriller    Thriller
2764      2856        I Saw What You Did (1965)  Thriller    Thriller